.logout-container {
  text-align: center; 
  min-height: 200px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px; 

  .button-center {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; 
  }
}