@import url("https://fonts.googleapis.com/css2?family=Matemasie&display=swap");

#navHead {
  font-family: Matemasie;
  font-size: x-large;
}

#custom-navbar {
  background-color: #e4e0e0 !important;
}

div.dropdown-menu.show {
  background-color: #e4e0e0 !important;
}

#custom-navbar {
  overflow: visible;  
}
