#profilePageButton {
  color: white;
}

#userAvatar {
  width: 4rem;
  aspect-ratio: 1;
  background-color: white;
  border: 0.3rem solid white;
  cursor: pointer;
}

form {
  padding-block: 5rem;
}

#fileInput {
  display: none;
}
