form {
  padding-block: 5rem;
}

input {
  width: 65%;
  max-width: 400px;
}

#profilePageButton {
  color: white;
}

#userAvatar {
  width: 4rem;
  aspect-ratio: 1;
  background-color: white;
  border: 0.3rem solid white;
  cursor: pointer;
}

.avatar {
  width: 4rem;
  aspect-ratio: 1;
  background-color: white;
  border: 0.3rem solid white;
}

.user-card span {
  margin: 0.5rem;
}

#fileInput {
  display: none;
}
