.restaurant-list-container {
  margin-top: 2rem; 
  padding: 1rem;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.restaurant-item {
  display: flex; 
  flex-direction: column; 
  flex: 1 1 100%;
  max-width: 100%;
  margin-bottom: 1rem;

  @media (min-width: 576px) {
    flex: 1 1 calc(50% - 1rem);
  }

  @media (min-width: 768px) {
    flex: 1 1 calc(33.333% - 1rem);
  }

  @media (min-width: 992px) {
    flex: 1 1 calc(25% - 1rem);
  }
}
