.restaurant-list-container {
  margin-top: 2rem; 
  padding: 1rem;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.restaurant-item {
  display: flex; 
  flex-direction: column; 
  width: 300px;       
  margin-bottom: 1rem;
}
